.leftHeader {
	display: flex;
	align-items: center;
}

.headerLogo {
	margin-right: 16px;
	width: 153px;
}

.commonHeader nav ul {
	display: flex;
	list-style: none;
	gap: 8px;
	font-size: 16px;
	color: #4b5563;
}

@media (min-width: 768px) {
  .globalHeader nav ul {
    gap: 36px;
    font-size: 18px;
  }

  .headerLogo {
    margin-right: 35px;
  }
}

@media (min-width: 1280px) {
  .headerLogo {
    margin-right: 47px;
  }
}